.card
    img.card__image(src="https://dummyimage.com/115x115/8c8c8c/fff.jpg", title="George Bluth")
    .card__title George Bluth
    .card__description george.bluth@reqres.in
    .card__footer
        a.btn.btn--secondary(href="member.html") Review