ul.pagination
    li
        button.pagination__link(type="button")
            figure.icon__wrapper.icon__chevron-left
                svg.icon
                    use(xlink:href="#icon-chevron-left")
    li
        button.pagination__link.active(type="button") 1
    li
        button.pagination__link(type="button") 2
    li
        button.pagination__link(type="button") 3
    li
        button.pagination__link(type="button")
            figure.icon__wrapper.icon__chevron-right
                svg.icon
                    use(xlink:href="#icon-chevron-right")