:root{
    --ff: 'Roboto', sans-serif;
    --fs-default: 1.125rem;
    --transition: all 150ms ease-in-out;
    --bg-body: #F9F9FB;
    --c-text: #8A8B8D;
    --c-title: #191B2C;
    --c-blue: #748EFC;
    --c-blue-rgb: 116, 142, 252;
    --c-dark-blue: #3B4D9A;
    --c-dark-blue-rgb: 59, 77, 154;
    --c-white: #ffffff;
    --c-white-rgb: 255, 255, 255;
}